version: '3'
services:
  jekyll:
    image: jekyll/jekyll:latest
    volumes:
      - .:/srv/jekyll
    ports:
      - "4000:4000"
    command: >
      bash -c "bundle install && bundle exec jekyll serve --force_polling --incremental --host 0.0.0.0"
