body {
  font-family: 'Times New Roman', serif;
  background: #f5f5f5;
  color: #333;
}

.header {
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 60ch;
  margin: 0 auto;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #333;
  transition: all 0.2s ease-in-out;
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

/* Hover effect */
tr:hover {
    background-color: #f5f5f5;
 }

 table.sortable th.sortable {
    cursor: pointer;
  }
  
  table.sortable th.sortable:not(.sort-asc):not(.sort-desc):after {
    content: '\00a0\2195';
  }
  
  table.sortable th.sort-asc:not(.sort-desc):after {
    content: '\00a0\2191';
  }
  
  table.sortable th.sort-desc:not(.sort-asc):after {
    content: '\00a0\2193';
  }