@import 'https://fonts.googleapis.com/css?family=Open+Sans';
 body {
     font-family: 'Open Sans', sans-serif;
     background-color: #222;
     color: hwb(0 96% 4%);
     margin-top: 20px;
     margin-right: 20px;
     margin-bottom: 30px;
     margin-left: 20px;
}
 .header {
     padding: 2rem;
     text-align: center;
}
 p {
     font-size: 16px;
}
 h1 {
     font-size: 30px;
     line-height: 34px;
}
 h2 {
     font-size: 20px;
     line-height: 25px;
}
 h3 {
     font-size: 16px;
     line-height: 27px;
     padding-top: 15px;
     padding-bottom: 15px;
     border-bottom: 1px solid #D8D8D8;
     border-top: 1px solid #D8D8D8;
}
 a[href] {
     color: #aaa;
     text-decoration: none;
     border-bottom: 2px solid #fff;
     transition: all 0.2s ease-in-out;
}
 a[href]:hover {
     color: #fff;
}
/* Table Styles */
 table {
     border-collapse: collapse;
     width: 100%;
     max-width: 800px;
     margin: auto;
     font-size: 16px;
     font-family: 'Times New Roman', serif;
     background-color: #4a4a4a;
     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     border-radius: 5px;
}
 th, td {
     text-align: left;
     padding: 12px;
     border-bottom: 1px solid #222;
}
 th {
     background-color: #5e5e5e;
     font-weight: bold;
}
/* Hover effect */
 tr:hover {
     background-color: #5e5e5e;
}
 table.sortable th.sortable {
     cursor: pointer;
}
 table.sortable th.sortable:not(.sort-asc):not(.sort-desc):after {
     content: '\00a0\2195';
}
 table.sortable th.sort-asc:not(.sort-desc):after {
     content: '\00a0\2191';
}
 table.sortable th.sort-desc:not(.sort-asc):after {
     content: '\00a0\2193';
}
 footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #222;
     color: #f5f5f5;
     text-align: center;
     padding: 1px;
}
/* Space out the links in the footer */
 footer a {
     margin: 0 10px;
}

#game {
    display: flex;
  }

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 400px;
    height: 400px;
    border: 2px solid black;
  }

  .tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .tile.light {
    background-color: #f0d9b5;
  }
  
  .tile.dark {
    background-color: #b58863;
  }

  #piece-banks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    border-left: 2px solid black;
    padding-left: 20px;
  }

  #piece-bank-top,
  #piece-bank-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #piece-bank-top {
    align-self: flex-start;
  }
  
  #piece-bank-bottom {
    align-self: flex-end;
  }
  
  .piece-cpu {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }

  .piece-container {
    position: relative;
    display: inline-block;
    margin-right: 1px;
  }

  .piece {
    cursor: grab;
    width: 90px;
    height: 27px;
    object-fit: contain;
  }

  .counter {
    position: absolute;
    bottom: 0px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
  }